<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}
    {{- partial "opengraph.html" . -}}
    
    <!--================= add analytics if enabled =========================-->
    {{- partial "analytics.html" . -}}
    <script>
      theme = localStorage.getItem('darkmode:color-scheme') || 'system';
      if (theme == 'system') {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          theme = 'dark';
        } else {
          theme = 'light';
        }
      }
      {{/*  document.documentElement.setAttribute('data-theme', theme);  */}}
      document.documentElement.setAttribute('data-theme', 'light');
    </script>
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100">

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <div class="container-fluid anchor pb-5 publications-section">
      <div class="container ml-auto text-center">
        <div class="btn-group flex-wrap" role="pub-group" id="publication-filter-buttons">
          {{ range site.Data.publications.buttons }}
          <button type="button" class="btn btn-dark pub-filtr-control" data-filter="pub-{{ .filter }}">
            {{ .name }}
          </button>
          {{ end }}
        </div>
      </div>
      <div class="container filtr-publications">
        <div class="row" id="publication-card-holder">
          {{ range site.Data.publications.publications }}
            {{ partial "cards/publication" . }}
          {{ end }}
        </div>
      </div>
    </div>

    <!--- ADD FOOTER ----------------------->
    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}

    <!------ ADD SUPPORT LINKS -------->
    {{- partial "misc/support.html" . -}}

  </body>
</html>
